<!DOCTYPE html>
<html>
  <head>
    <title>Profile Ande</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav>
      <div class="left">
        <ul>
          <img class="logo" src="./assets/dwdwd.png" alt="logo-img" />
          <li><a class="collapse" href="/">Home</a></li>
          <li><a class="collapse" href="Blog">Blog</a></li>
          <li><a class="collapse" href="testimonal">MY testimonial</a></li>
        </ul>
      </div>
      <div class="right">
        <button><a class="collapse" href="contac">Contact me</a></button>
      </div>
      <button class="icon" onclick="openHamburger()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>

    <div class="dropdown" id="dropdown">
      <div><a href="/">Home</a></div>
      <div><a href="Blog">My Project</a></div>
      <div><a href="testimonal">MY testimonial</a></div>
      <div><a href="contac">Contact Me</a></div>
    </div>

    <div class="rainbow">
      <div class="card">
        <h1
          style="
            color: black;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            margin-bottom: 20px;
            padding-top: 30px;
            width: 60%;
            font-size:medium;
          "
        >
          Hi welcome to my Website
        </h1>
        <img
          src="./assets/IMG-20240716-WA0000.jpeg"
          alt="profile ig"
          class="my-image"
        />
        <h2 class="name-img">Ande Franata</h2>
        <p class="info-img">Fullstack Developer</p>
        <style>
          table,
          th,
          td {
            border: 1px solid black;
          }
        </style>
        <table style="width: 60%; margin: auto 50px;">
          <tr>
            <th style="font-weight: bold; font-size: larger">Experience</th>
            <th>Year</th>
          </tr>
          <tr style="padding-bottom: 20px">
            <td style="text-align: center">Full Stack Mobile Dev</td>
            <td style="text-align: center">2024</td>
          </tr>
        </table>
      </div>
      <div class="div-baru">
      <div class="containerr">
        <h1>What I Do</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, minus
          consequatur tenetur atque vel a sint quas consequuntur facere
          laboriosam possimus rem cupiditate reprehenderit, mollitia id eligendi
          impedit dolore autem.
        </p>
      </div>
      <div class="skill">
          <div>
            <img src="images/logo.png" alt="" srcset="" />
            <h2>Javascript</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!
            </p>
          </div>
          <div>
            <img src="images/logo.png" alt="" srcset="" />
            <h2>Github</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!
            </p>
          </div>

          <div>
            <img src="images/logo.png" alt="" srcset="" />
            <h2>Deployment</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ea!
            </p>
          </div>
        </div>

        <div class="social-media">
          <h2>Found Me on</h2>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
      </div>
    </div>
  
    <script src="./assets/js/nav.js"></script>
    
</html>
