<html>
  <head>
    <title>Creating Blog Page</title>
    <link rel="stylesheet" href="./assets/css/Blog.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>

  <body>
    <nav>
      <div class="left">
        <ul>
          <img class="logo" src="./assets/dwdwd.png" alt="logo-img" />
          <li><a class="collapse" href="index.html">Home</a></li>
          <li><a class="collapse" href="./Blog.html">Blog</a></li>
          <li><a class="collapse" href="testimonal.html">MY testimonial</a></li>
        </ul>
      </div>
      <div class="right">
        <button><a class="collapse" href="contac.html">Contact me</a></button>
      </div>
      <button class="icon" onclick="openHamburger()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>

    <div class="dropdown" id="dropdown">
      <div><a href="index.html">Home</a></div>
      <div><a href="Blog.html">My Project</a></div>
      <div><a href="testimonal.html">MY testimonial</a></div>
      <div><a href="contac.html">Contact Me</a></div>
    </div>

    <!-- Blog -->
    <!-- Form -->
    <div class="blog">
      <div class="blog-form">
        <div class="form-container">
          <form onsubmit="addBlog(event)">
            <h1>Create Post Blog</h1>
            <div>
              <label for="input-blog-title">Title</label>
              <input id="input-blog-title" />
            </div>
            <div>
              <label for="input-blog-content">Content</label>
              <textarea id="input-blog-content"></textarea>
            </div>

            <div>
              <label for="">Technologies</label>
              <div class="flex-check">
                <div class="flex-box">
                  <label for="swift"
                    ><input type="checkbox" id="swift" />Swift</label
                  >
                  <label for="ruby"
                    ><input type="checkbox" id="ruby" />Ruby</label
                  >
                </div>
                <div class="flex-box">
                  <label for="phyton"
                    ><input type="checkbox" id="phyton" />Phyton</label
                  >
                  <label for="javascript"
                    ><input type="checkbox" id="javascript" />Javascript</label
                  >
                </div>
              </div>
            </div>
            <div>
              <label>Upload Image</label>
              <div class="input-blog-image-group">
                <label for="input-blog-image">
                  <p>Attach File</p>
                  <img
                    src="./assets/download.png"
                    alt="file"
                    style="width: 40px"
                  />
                </label>
                <input type="file" id="input-blog-image" hidden />
              </div>
            </div>
            <div class="button-group">
              <button>Post Blog</button>
            </div>
          </form>
        </div>
      </div>

      <div id="test"></div>
      <hr class="line" />
      <div id="contents" class="blog-list">
        <!-- dynamic content would be here -->
      </div>
      <p>time</p>
    </div>
    <script src="./assets/js/blog.js"></script>
    <script src="./assets/js/nav.js"></script>
    <script src="./assets/js/nav.js"></script>
  </body>
</html>
